body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.body-container {
    display: flex;
    flex-direction: column;
}

.header-container{
    background-color: #9d2b17;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 100px;
    padding-bottom: 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.header-logo {
    width: 100px;
    height: 100px;
    border: 5px solid gold;
    border-radius: 50%;
    box-shadow: 1px 1px;
    transition: all 2.0s;
  }
  
.header-logo:hover {
    border: 4px solid orange;
    transform: rotate(360deg);
     transition: all 2.0s;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    
  }
.music::-webkit-media-controls-panel {
    background-color: red;
  }

.right-header{
    font-size: 30px;
    color: black;
    margin-right: 30px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;

}

a{
    text-decoration: none;
    color:#1F2937;
    font-weight: bold;
}

.header-content{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 550px;
}
.heading-content{
    font-size: 100px;
    font-weight: 1000;
    color: #1B251E;
}
.middle-content{
    font-size: 28px;
    color: #212823;
}
.content-button{
    background-color: #c64a2e;
    color: rgb(18, 5, 5);
    border-radius: 6px;
    padding: 12px 22px;
    font-size: 24px;
    font-weight: bold;
    border: black solid 3px;
    box-shadow:rgba(17, 17, 26, 0.1) 0px 8px 24px;
}
.right-content img{
    width: 800px;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 40px 80px;

}
.info{
    font-size: 38px;
    font-weight: bolder;

}
.box-info{
 display: flex;
 gap: 50px;
}
.upper div{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    font-weight: 400;
  
}
.upper-image{
    width: 300px;
    height: 280px;
    border: #3882F6 solid 8px;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}
.quote-container{
    height: 380px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 40px 80px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    margin-bottom: 5px;
}
.author{
    color: #1F2937;
    font-size: 26px;
    font-weight: bold;
    align-self: flex-end;
}
.sign-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
}

.call-container{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    width: 1200px;
    height: 120px;
    padding: 40px 80px;
    border-radius: 10px;
}
.para-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.para-one{
    font-size: 26px;
    margin: 0;
    color: #F9FAF8;
    font-weight: bold;
}
.para-second{
    font-size: 18px;
    margin: 0;
    color: #F9FAF8;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-button{
    background-color: #3882F6;
    border: #F9FAF8 solid 1px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    padding: 14px 30px;
}
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

