body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.body-container {
    display: flex;
    flex-direction: column;
}

.header-container{
    background-color: #9d2b17;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 80px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.header-logo {
    width: 60px;
    height: 60px;
    border: 5px solid gold;
    border-radius: 50%;
    box-shadow: 1px 1px;
    transition: all 2.0s;
  }
  
.header-logo:hover {
    border: 4px solid orange;
    transform: rotate(360deg);
     transition: all 2.0s;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    
  }
.music::-webkit-media-controls-panel {
    background-color: red;
  }

.right-header{
    font-size: 26px;
    color: black;
    margin-right: 30px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;

}

a{
    text-decoration: none;
    color:#1F2937;
    font-weight: bold;
}

.header-content{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 550px;
}
.heading-content{
    font-size: 50px;
    font-weight: 1000;
    color: #1B251E;
}
.middle-content{
    font-size: 20px;
    color: #212823;
    word-wrap: break-word;
}
.content-button{
    background-color: #c64a2e;
    color: rgb(18, 5, 5);
    border-radius: 6px;
    padding: 8px 14px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border: black solid 3px;
    box-shadow:rgba(17, 17, 26, 0.1) 0px 8px 24px;
}
.content-button:hover {background-color: #c64a2e;;}

.content-button:active {
  background-color: #c64a2e;;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.right-content img{
    width: 500px;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: auto;
    height:600px;
    padding: 0 60px;
    background-color: 	#595E56;

}
.info{
    font-size:40px;
    font-weight: bolder;
    color: #806D4E;
}
.box-info{
    display: flex;
    gap:60px;
    align-self: center;

}
.upper div{
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Anton', sans-serif;
}
.upper-image{
    width: 240px;
    height: 240px;
    border: #C9BFB1 solid 8px;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}
.quote-container{
    height: 350px;
    background-color: #939BC0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0px 100px;
}
.quote{
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
    color: #373F6D;
    margin-bottom: 5px;
}
.author{
    color: #323b6c;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}
.sign-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color:#c22a2a;
}

.call-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f1b950;
    width: auto;
    height: 60px;
    padding: 40px 60px;
    gap: 40px;
    border-radius: 10px;
    border: #44496f solid 3px;
}
.para-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.para-one{
    font-size: 24px;
    margin: 0;
    color: black;
    font-weight: bold;
}
.para-second{
    font-size: 18px;
    margin: 0;
    color: black;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-button{
    background-color: #44496f;
    border:black solid 1px;
    color:wheat;
    font-size: 20px;
    border-radius: 10px;
    padding: 7px 14px;
    cursor: pointer;
}
.sign-up-button:hover {background-color: #51577f;}

.sign-up-button:active {
  background-color: #51577f;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.footer{
    background-color: #2a3c5f;
    color: #F9FAF8;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

