body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.body-container {
    display: flex;
    flex-direction: column;
}

.header-container{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 380px;
    justify-content: space-between;
    gap: 60px;
    padding: 10px 80px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-header{
    font-size: 24px;
    color: #F9FAF8;
}

.right-header{
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;

}

a{
    text-decoration: none;
    color:#E5E7EB;
}

.header-content{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 450px;
}
.heading-content{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.middle-content{
    font-size: 18px;
    color: #E5E7EB;
}
.content-button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 9px 18px;
    font-weight: bold;
    border: none;
}
.right-content img{
    width: 350px;
    height: auto;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 10px 80px;

}
.info{
    font-size: 36px;
    font-weight: bolder;

}
.box-info{
 display: flex;
 gap: 50px;
}
.upper div{
    font-size: 24px;
    text-align: center;
    font-weight: 450;
}
.upper-image{
    width: 200px;
    height: 200px;
    border: #3882F6 solid 5px;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}
