body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.body-container {
    display: flex;
    flex-direction: column;
}

.header-container{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 100px;
    padding-bottom: 150px;
    margin-bottom: 60px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-header{
    font-size: 28px;
    font-weight: bolder;
    color: #F9FAF8;
}

.right-header{
    font-size: 22px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;

}

a{
    text-decoration: none;
    color:#E5E7EB;
}

.header-content{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap:28px;
    width: 450px;
}
.heading-content{
    font-size: 50px;
    font-weight: bolder;
    color: #F9FAF8;
}
.middle-content{
    font-size: 22px;
    color: #E5E7EB;
}
.content-button{
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 12px 22px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.right-content img{
    width: 500px;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 40px 80px;

}
.info{
    font-size: 38px;
    font-weight: bolder;

}
.box-info{
 display: flex;
 gap: 50px;
}
.upper div{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    font-weight: 400;
  
}
.upper-image{
    width: 300px;
    height: 280px;
    border: #3882F6 solid 8px;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}
.quote-container{
    height: 380px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 40px 80px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}
.author{
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}
.sign-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
}

.call-container{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    width: 1200px;
    height: 120px;
    padding: 40px 80px;
    border-radius: 10px;
}
.para-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.para-one{
    font-size: 26px;
    margin: 0;
    color: #F9FAF8;
    font-weight: bold;
}
.para-second{
    font-size: 18px;
    margin: 0;
    color: #F9FAF8;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-button{
    background-color: #3882F6;
    border: #F9FAF8 solid 1px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    padding: 14px 30px;
}
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

